<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-write-off-card-heading" jhiTranslate="jhrApp.writeOffCard.home.createOrEditLabel">Create or edit a Write Off Card</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.code" for="field_code" [ngbTooltip]="'jhrApp.writeOffCard.help.code' | translate">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                        This field cannot be longer than 40 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.cardSN" for="field_cardSN" [ngbTooltip]="'jhrApp.writeOffCard.help.cardSN' | translate">Card SN</label>
                    <input type="text" class="form-control" name="cardSN" id="field_cardSN"
                           formControlName="cardSN"/>
                    <div *ngIf="editForm.get('cardSN')!.invalid && (editForm.get('cardSN')!.dirty || editForm.get('cardSN')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cardSN')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cardSN')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.cardType" for="field_cardType" [ngbTooltip]="'jhrApp.writeOffCard.help.cardType' | translate">Card Type</label>
                    <select class="form-control" name="cardType" formControlName="cardType" id="field_cardType">
                        <option value="CASH">{{ 'jhrApp.CardType.CASH' | translate }}</option>
                        <option value="DISCOUNT">{{ 'jhrApp.CardType.DISCOUNT' | translate }}</option>
                        <option value="GIFT">{{ 'jhrApp.CardType.GIFT' | translate }}</option>
                        <option value="BUY_ONE_GET_ONE">{{ 'jhrApp.CardType.BUY_ONE_GET_ONE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('cardType')!.invalid && (editForm.get('cardType')!.dirty || editForm.get('cardType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cardType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.title" for="field_title" [ngbTooltip]="'jhrApp.writeOffCard.help.title' | translate">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.thumbnail" for="field_thumbnail" [ngbTooltip]="'jhrApp.writeOffCard.help.thumbnail' | translate">Thumbnail</label>
                    <input type="text" class="form-control" name="thumbnail" id="field_thumbnail"
                           formControlName="thumbnail"/>
                    <div *ngIf="editForm.get('thumbnail')!.invalid && (editForm.get('thumbnail')!.dirty || editForm.get('thumbnail')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('thumbnail')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.details" for="field_details" [ngbTooltip]="'jhrApp.writeOffCard.help.details' | translate">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                    <div *ngIf="editForm.get('details')!.invalid && (editForm.get('details')!.dirty || editForm.get('details')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('details')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 300 }">
                        This field cannot be longer than 300 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.validPeriodBeginAt" for="field_validPeriodBeginAt" [ngbTooltip]="'jhrApp.writeOffCard.help.validPeriodBeginAt' | translate">Valid Period Begin At</label>
                    <div class="d-flex">
                        <input id="field_validPeriodBeginAt" type="datetime-local" class="form-control" name="validPeriodBeginAt" formControlName="validPeriodBeginAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.validPeriodEndAt" for="field_validPeriodEndAt" [ngbTooltip]="'jhrApp.writeOffCard.help.validPeriodEndAt' | translate">Valid Period End At</label>
                    <div class="d-flex">
                        <input id="field_validPeriodEndAt" type="datetime-local" class="form-control" name="validPeriodEndAt" formControlName="validPeriodEndAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.canUseWithOtherCard" for="field_canUseWithOtherCard" [ngbTooltip]="'jhrApp.writeOffCard.help.canUseWithOtherCard' | translate">Can Use With Other Card</label>
                    <input type="checkbox" class="form-control" name="canUseWithOtherCard" id="field_canUseWithOtherCard"
                           formControlName="canUseWithOtherCard"/>
                    <div *ngIf="editForm.get('canUseWithOtherCard')!.invalid && (editForm.get('canUseWithOtherCard')!.dirty || editForm.get('canUseWithOtherCard')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('canUseWithOtherCard')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.acceptCategories" for="field_acceptCategories" [ngbTooltip]="'jhrApp.writeOffCard.help.acceptCategories' | translate">Accept Categories</label>
                    <input type="text" class="form-control" name="acceptCategories" id="field_acceptCategories"
                           formControlName="acceptCategories"/>
                    <div *ngIf="editForm.get('acceptCategories')!.invalid && (editForm.get('acceptCategories')!.dirty || editForm.get('acceptCategories')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('acceptCategories')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 500 }">
                        This field cannot be longer than 500 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.acceptShops" for="field_acceptShops" [ngbTooltip]="'jhrApp.writeOffCard.help.acceptShops' | translate">Accept Shops</label>
                    <input type="text" class="form-control" name="acceptShops" id="field_acceptShops"
                           formControlName="acceptShops"/>
                    <div *ngIf="editForm.get('acceptShops')!.invalid && (editForm.get('acceptShops')!.dirty || editForm.get('acceptShops')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('acceptShops')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 500 }">
                        This field cannot be longer than 500 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.leastCost" for="field_leastCost" [ngbTooltip]="'jhrApp.writeOffCard.help.leastCost' | translate">Least Cost</label>
                    <input type="number" class="form-control" name="leastCost" id="field_leastCost"
                           formControlName="leastCost"/>
                    <div *ngIf="editForm.get('leastCost')!.invalid && (editForm.get('leastCost')!.dirty || editForm.get('leastCost')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('leastCost')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('leastCost')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 99999 }">
                            This field cannot be more than 99999.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('leastCost')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.reduceCost" for="field_reduceCost" [ngbTooltip]="'jhrApp.writeOffCard.help.reduceCost' | translate">Reduce Cost</label>
                    <input type="number" class="form-control" name="reduceCost" id="field_reduceCost"
                           formControlName="reduceCost"/>
                    <div *ngIf="editForm.get('reduceCost')!.invalid && (editForm.get('reduceCost')!.dirty || editForm.get('reduceCost')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('reduceCost')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('reduceCost')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 99999 }">
                            This field cannot be more than 99999.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('reduceCost')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.discount" for="field_discount" [ngbTooltip]="'jhrApp.writeOffCard.help.discount' | translate">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount"
                           formControlName="discount"/>
                    <div *ngIf="editForm.get('discount')!.invalid && (editForm.get('discount')!.dirty || editForm.get('discount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('discount')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('discount')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('discount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.gift" for="field_gift" [ngbTooltip]="'jhrApp.writeOffCard.help.gift' | translate">Gift</label>
                    <input type="text" class="form-control" name="gift" id="field_gift"
                           formControlName="gift"/>
                    <div *ngIf="editForm.get('gift')!.invalid && (editForm.get('gift')!.dirty || editForm.get('gift')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gift')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.giftQuantity" for="field_giftQuantity" [ngbTooltip]="'jhrApp.writeOffCard.help.giftQuantity' | translate">Gift Quantity</label>
                    <input type="number" class="form-control" name="giftQuantity" id="field_giftQuantity"
                           formControlName="giftQuantity"/>
                    <div *ngIf="editForm.get('giftQuantity')!.invalid && (editForm.get('giftQuantity')!.dirty || editForm.get('giftQuantity')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('giftQuantity')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('giftQuantity')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 99999 }">
                            This field cannot be more than 99999.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('giftQuantity')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.receivedBy" for="field_receivedBy" [ngbTooltip]="'jhrApp.writeOffCard.help.receivedBy' | translate">Received By</label>
                    <input type="text" class="form-control" name="receivedBy" id="field_receivedBy"
                           formControlName="receivedBy"/>
                    <div *ngIf="editForm.get('receivedBy')!.invalid && (editForm.get('receivedBy')!.dirty || editForm.get('receivedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('receivedBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('receivedBy')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.receivedDate" for="field_receivedDate" [ngbTooltip]="'jhrApp.writeOffCard.help.receivedDate' | translate">Received Date</label>
                    <div class="d-flex">
                        <input id="field_receivedDate" type="datetime-local" class="form-control" name="receivedDate" formControlName="receivedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('receivedDate')!.invalid && (editForm.get('receivedDate')!.dirty || editForm.get('receivedDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('receivedDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('receivedDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.orderSN" for="field_orderSN" [ngbTooltip]="'jhrApp.writeOffCard.help.orderSN' | translate">Order SN</label>
                    <input type="text" class="form-control" name="orderSN" id="field_orderSN"
                           formControlName="orderSN"/>
                    <div *ngIf="editForm.get('orderSN')!.invalid && (editForm.get('orderSN')!.dirty || editForm.get('orderSN')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orderSN')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.status" for="field_status" [ngbTooltip]="'jhrApp.writeOffCard.help.status' | translate">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="CONSUMED">{{ 'jhrApp.WriteOffStatus.CONSUMED' | translate }}</option>
                        <option value="EXPIRED">{{ 'jhrApp.WriteOffStatus.EXPIRED' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.writeOffCard.writeOffDate" for="field_writeOffDate" [ngbTooltip]="'jhrApp.writeOffCard.help.writeOffDate' | translate">Write Off Date</label>
                    <div class="d-flex">
                        <input id="field_writeOffDate" type="datetime-local" class="form-control" name="writeOffDate" formControlName="writeOffDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('writeOffDate')!.invalid && (editForm.get('writeOffDate')!.dirty || editForm.get('writeOffDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('writeOffDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('writeOffDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
