<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhrApp.weekStock.home.title">Week Stocks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-week-stock" [routerLink]="['/week-stock/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhrApp.weekStock.home.createLabel">
            Create a new Week Stock
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="weekStocks?.length === 0">
        <span jhiTranslate="jhrApp.weekStock.home.notFound">No weekStocks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="weekStocks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhrApp.weekStock.shopSN">Shop SN</span></th>
                    <th scope="col" ><span jhiTranslate="jhrApp.weekStock.shopName">Shop Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhrApp.weekStock.foodQuantity">Food Quantity</span></th>
                    <th scope="col" ><span jhiTranslate="jhrApp.weekStock.weekMenu">Week Menu</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let weekStock of weekStocks ;trackBy: trackId">
                    <td><a [routerLink]="['/week-stock', weekStock.id, 'view']">{{ weekStock.id }}</a></td>
                    <td>{{ weekStock.shopSN }}</td>
                    <td>{{ weekStock.shopName }}</td>
                    <td>{{ weekStock.foodQuantity }}</td>
                    <td>
                        <div *ngIf="weekStock.weekMenuId">
                            <a [routerLink]="['/week-menu', weekStock.weekMenuId , 'view']" >{{ weekStock.weekMenuId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/week-stock', weekStock.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/week-stock', weekStock.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(weekStock)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
