<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shop-heading" jhiTranslate="jhrApp.shop.home.createOrEditLabel">Create or edit a Shop</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.name" for="field_name" [ngbTooltip]="'jhrApp.shop.help.name' | translate">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.sn" for="field_sn" [ngbTooltip]="'jhrApp.shop.help.sn' | translate">Sn</label>
                    <input type="text" class="form-control" name="sn" id="field_sn"
                           formControlName="sn"/>
                    <div *ngIf="editForm.get('sn')!.invalid && (editForm.get('sn')!.dirty || editForm.get('sn')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sn')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sn')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.tel" for="field_tel" [ngbTooltip]="'jhrApp.shop.help.tel' | translate">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                           formControlName="tel"/>
                    <div *ngIf="editForm.get('tel')!.invalid && (editForm.get('tel')!.dirty || editForm.get('tel')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tel')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 13 }">
                        This field cannot be longer than 13 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.address" for="field_address" [ngbTooltip]="'jhrApp.shop.help.address' | translate">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                    <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.country" for="field_country" [ngbTooltip]="'jhrApp.shop.help.country' | translate">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                           formControlName="country"/>
                    <div *ngIf="editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('country')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.province" for="field_province" [ngbTooltip]="'jhrApp.shop.help.province' | translate">Province</label>
                    <input type="text" class="form-control" name="province" id="field_province"
                           formControlName="province"/>
                    <div *ngIf="editForm.get('province')!.invalid && (editForm.get('province')!.dirty || editForm.get('province')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('province')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('province')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.city" for="field_city" [ngbTooltip]="'jhrApp.shop.help.city' | translate">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                    <div *ngIf="editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('city')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('city')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.district" for="field_district" [ngbTooltip]="'jhrApp.shop.help.district' | translate">District</label>
                    <input type="text" class="form-control" name="district" id="field_district"
                           formControlName="district"/>
                    <div *ngIf="editForm.get('district')!.invalid && (editForm.get('district')!.dirty || editForm.get('district')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('district')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.offsetType" for="field_offsetType" [ngbTooltip]="'jhrApp.shop.help.offsetType' | translate">Offset Type</label>
                    <select class="form-control" name="offsetType" formControlName="offsetType" id="field_offsetType">
                        <option value="MARS">{{ 'jhrApp.OffsetType.MARS' | translate }}</option>
                        <option value="SOGOU">{{ 'jhrApp.OffsetType.SOGOU' | translate }}</option>
                        <option value="BAIDU">{{ 'jhrApp.OffsetType.BAIDU' | translate }}</option>
                        <option value="MAPBAR">{{ 'jhrApp.OffsetType.MAPBAR' | translate }}</option>
                        <option value="GPS">{{ 'jhrApp.OffsetType.GPS' | translate }}</option>
                        <option value="MERCATOR">{{ 'jhrApp.OffsetType.MERCATOR' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('offsetType')!.invalid && (editForm.get('offsetType')!.dirty || editForm.get('offsetType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('offsetType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.longitude" for="field_longitude" [ngbTooltip]="'jhrApp.shop.help.longitude' | translate">Longitude</label>
                    <input type="number" class="form-control" name="longitude" id="field_longitude"
                           formControlName="longitude"/>
                    <div *ngIf="editForm.get('longitude')!.invalid && (editForm.get('longitude')!.dirty || editForm.get('longitude')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('longitude')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('longitude')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.latitude" for="field_latitude" [ngbTooltip]="'jhrApp.shop.help.latitude' | translate">Latitude</label>
                    <input type="number" class="form-control" name="latitude" id="field_latitude"
                           formControlName="latitude"/>
                    <div *ngIf="editForm.get('latitude')!.invalid && (editForm.get('latitude')!.dirty || editForm.get('latitude')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('latitude')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('latitude')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.shopOpen" for="field_shopOpen" [ngbTooltip]="'jhrApp.shop.help.shopOpen' | translate">Shop Open</label>
                    <input type="text" class="form-control" name="shopOpen" id="field_shopOpen"
                           formControlName="shopOpen"/>
                    <div *ngIf="editForm.get('shopOpen')!.invalid && (editForm.get('shopOpen')!.dirty || editForm.get('shopOpen')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('shopOpen')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.shopClose" for="field_shopClose" [ngbTooltip]="'jhrApp.shop.help.shopClose' | translate">Shop Close</label>
                    <input type="text" class="form-control" name="shopClose" id="field_shopClose"
                           formControlName="shopClose"/>
                    <div *ngIf="editForm.get('shopClose')!.invalid && (editForm.get('shopClose')!.dirty || editForm.get('shopClose')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('shopClose')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.maxDeliveryDistance" for="field_maxDeliveryDistance" [ngbTooltip]="'jhrApp.shop.help.maxDeliveryDistance' | translate">Max Delivery Distance</label>
                    <input type="number" class="form-control" name="maxDeliveryDistance" id="field_maxDeliveryDistance"
                           formControlName="maxDeliveryDistance"/>
                    <div *ngIf="editForm.get('maxDeliveryDistance')!.invalid && (editForm.get('maxDeliveryDistance')!.dirty || editForm.get('maxDeliveryDistance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maxDeliveryDistance')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maxDeliveryDistance')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 50 }">
                            This field cannot be more than 50.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('maxDeliveryDistance')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.minDeliveryAmount" for="field_minDeliveryAmount" [ngbTooltip]="'jhrApp.shop.help.minDeliveryAmount' | translate">Min Delivery Amount</label>
                    <input type="number" class="form-control" name="minDeliveryAmount" id="field_minDeliveryAmount"
                           formControlName="minDeliveryAmount"/>
                    <div *ngIf="editForm.get('minDeliveryAmount')!.invalid && (editForm.get('minDeliveryAmount')!.dirty || editForm.get('minDeliveryAmount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('minDeliveryAmount')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('minDeliveryAmount')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 99999 }">
                            This field cannot be more than 99999.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('minDeliveryAmount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.lunchServeStartingAt" for="field_lunchServeStartingAt" [ngbTooltip]="'jhrApp.shop.help.lunchServeStartingAt' | translate">Lunch Serve Starting At</label>
                    <input type="text" class="form-control" name="lunchServeStartingAt" id="field_lunchServeStartingAt"
                           formControlName="lunchServeStartingAt"/>
                    <div *ngIf="editForm.get('lunchServeStartingAt')!.invalid && (editForm.get('lunchServeStartingAt')!.dirty || editForm.get('lunchServeStartingAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lunchServeStartingAt')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.lunchServeEndAt" for="field_lunchServeEndAt" [ngbTooltip]="'jhrApp.shop.help.lunchServeEndAt' | translate">Lunch Serve End At</label>
                    <input type="text" class="form-control" name="lunchServeEndAt" id="field_lunchServeEndAt"
                           formControlName="lunchServeEndAt"/>
                    <div *ngIf="editForm.get('lunchServeEndAt')!.invalid && (editForm.get('lunchServeEndAt')!.dirty || editForm.get('lunchServeEndAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lunchServeEndAt')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.supperServeStartingAt" for="field_supperServeStartingAt" [ngbTooltip]="'jhrApp.shop.help.supperServeStartingAt' | translate">Supper Serve Starting At</label>
                    <input type="text" class="form-control" name="supperServeStartingAt" id="field_supperServeStartingAt"
                           formControlName="supperServeStartingAt"/>
                    <div *ngIf="editForm.get('supperServeStartingAt')!.invalid && (editForm.get('supperServeStartingAt')!.dirty || editForm.get('supperServeStartingAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('supperServeStartingAt')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.supperServeEndAt" for="field_supperServeEndAt" [ngbTooltip]="'jhrApp.shop.help.supperServeEndAt' | translate">Supper Serve End At</label>
                    <input type="text" class="form-control" name="supperServeEndAt" id="field_supperServeEndAt"
                           formControlName="supperServeEndAt"/>
                    <div *ngIf="editForm.get('supperServeEndAt')!.invalid && (editForm.get('supperServeEndAt')!.dirty || editForm.get('supperServeEndAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('supperServeEndAt')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                    <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdBy')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createdDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                           formControlName="lastModifiedBy"/>
                    <div *ngIf="editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastModifiedBy')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhrApp.shop.merchant" for="field_merchant">Merchant</label>
                    <select class="form-control" id="field_merchant" name="merchant" formControlName="merchantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="merchantOption.id" *ngFor="let merchantOption of merchants; trackBy: trackById">{{ merchantOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
