<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhrApp.member.home.title">Members</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-member" [routerLink]="['/member/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhrApp.member.home.createLabel">
            Create a new Member
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="members?.length === 0">
        <span jhiTranslate="jhrApp.member.home.notFound">No members found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="members?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="jhrApp.member.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sn"><span jhiTranslate="jhrApp.member.sn">Sn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="openID"><span jhiTranslate="jhrApp.member.openID">Open ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unionID"><span jhiTranslate="jhrApp.member.unionID">Union ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profilePicture"><span jhiTranslate="jhrApp.member.profilePicture">Profile Picture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sex"><span jhiTranslate="jhrApp.member.sex">Sex</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country"><span jhiTranslate="jhrApp.member.country">Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="province"><span jhiTranslate="jhrApp.member.province">Province</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city"><span jhiTranslate="jhrApp.member.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="joinDate"><span jhiTranslate="jhrApp.member.joinDate">Join Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastLoginDate"><span jhiTranslate="jhrApp.member.lastLoginDate">Last Login Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of members ;trackBy: trackId">
                    <td><a [routerLink]="['/member', member.id, 'view']">{{ member.id }}</a></td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.sn }}</td>
                    <td>{{ member.openID }}</td>
                    <td>{{ member.unionID }}</td>
                    <td>{{ member.profilePicture }}</td>
                    <td jhiTranslate="{{ 'jhrApp.Sex.' + member.sex }}">{{ member.sex }}</td>
                    <td>{{ member.country }}</td>
                    <td>{{ member.province }}</td>
                    <td>{{ member.city }}</td>
                    <td>{{ member.joinDate | date:'medium' }}</td>
                    <td>{{ member.lastLoginDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/member', member.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/member', member.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(member)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="members?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
