<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhrApp.sales.home.title">Sales</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sales" [routerLink]="['/sales/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhrApp.sales.home.createLabel">
            Create a new Sales
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sales?.length === 0">
        <span jhiTranslate="jhrApp.sales.home.notFound">No sales found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sales?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="day"><span jhiTranslate="jhrApp.sales.day">Day</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shopSN"><span jhiTranslate="jhrApp.sales.shopSN">Shop SN</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shopName"><span jhiTranslate="jhrApp.sales.shopName">Shop Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categorySN"><span jhiTranslate="jhrApp.sales.categorySN">Category SN</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryName"><span jhiTranslate="jhrApp.sales.categoryName">Category Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="foodSN"><span jhiTranslate="jhrApp.sales.foodSN">Food SN</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="foodName"><span jhiTranslate="jhrApp.sales.foodName">Food Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="foodOriginalPrice"><span jhiTranslate="jhrApp.sales.foodOriginalPrice">Food Original Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="initQuantity"><span jhiTranslate="jhrApp.sales.initQuantity">Init Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="salesQuantity"><span jhiTranslate="jhrApp.sales.salesQuantity">Sales Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedDate"><span jhiTranslate="jhrApp.sales.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sales of sales ;trackBy: trackId">
                    <td><a [routerLink]="['/sales', sales.id, 'view']">{{ sales.id }}</a></td>
                    <td>{{ sales.day | date:'medium' }}</td>
                    <td>{{ sales.shopSN }}</td>
                    <td>{{ sales.shopName }}</td>
                    <td>{{ sales.categorySN }}</td>
                    <td>{{ sales.categoryName }}</td>
                    <td>{{ sales.foodSN }}</td>
                    <td>{{ sales.foodName }}</td>
                    <td>{{ sales.foodOriginalPrice }}</td>
                    <td>{{ sales.initQuantity }}</td>
                    <td>{{ sales.salesQuantity }}</td>
                    <td>{{ sales.lastModifiedDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sales', sales.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sales', sales.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sales)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="sales?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
